In [1]:
import requests as rq

url = 'https://quotes.toscrape.com/'
quote = rq.get(url)

print(quote)

<Response [200]>

In [2]:
quote.content[:1000]

b'<!DOCTYPE html>\n<html lang="en">\n<head>\n\t<meta charset="UTF-8">\n\t<title>Quotes to Scrape</title>\n    <link rel="stylesheet" href="/static/bootstrap.min.css">\n    <link rel="stylesheet" href="/static/main.css">\n</head>\n<body>\n    <div class="container">\n        <div class="row header-box">\n            <div class="col-md-8">\n                <h1>\n                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>\n                </h1>\n            </div>\n            <div class="col-md-4">\n                <p>\n                \n                    <a href="/login">Login</a>\n                \n                </p>\n            </div>\n        </div>\n    \n\n<div class="row">\n    <div class="col-md-8">\n\n    <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">\n        <span class="text" itemprop="text">\xe2\x80\x9cThe world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.\xe2\x80\x9d</span>\n        <span>by <small class="author" it'

In [3]:
from bs4 import BeautifulSoup

quote_html = BeautifulSoup(quote.content, 'html.parser')
quote_html.head()

[<meta charset="utf-8"/>,
 <title>Quotes to Scrape</title>,
 <link href="/static/bootstrap.min.css" rel="stylesheet"/>,
 <link href="/static/main.css" rel="stylesheet"/>]

In [4]:
quote_div = quote_html.find_all('div', class_='quote')
quote_div[0]

<div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
<span class="text" itemprop="text">“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”</span>
<span>by <small class="author" itemprop="author">Albert Einstein</small>
<a href="/author/Albert-Einstein">(about)</a>
</span>
<div class="tags">
            Tags:
            <meta class="keywords" content="change,deep-thoughts,thinking,world" itemprop="keywords"/>
<a class="tag" href="/tag/change/page/1/">change</a>
<a class="tag" href="/tag/deep-thoughts/page/1/">deep-thoughts</a>
<a class="tag" href="/tag/thinking/page/1/">thinking</a>
<a class="tag" href="/tag/world/page/1/">world</a>
</div>
</div>

In [5]:
quote_div = quote_html.find_all('div', class_='quote')
[i.find_all('span', class_='text')[0].text for i in quote_div]

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [7]:
quote_text = quote_html.select('div.quote > span.text')
quote_text_list = [i.text for i in quote_text]
quote_text_list

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [8]:
quote_link = quote_html.select('div.quote > span > a')
['https://quotes.toscrape.com' + i['href'] for i in quote_link]

['https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/J-K-Rowling',
 'https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/Jane-Austen',
 'https://quotes.toscrape.com/author/Marilyn-Monroe',
 'https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/Andre-Gide',
 'https://quotes.toscrape.com/author/Thomas-A-Edison',
 'https://quotes.toscrape.com/author/Eleanor-Roosevelt',
 'https://quotes.toscrape.com/author/Steve-Martin']

In [11]:
import requests as rq
from bs4 import BeautifulSoup
import time

text_list = []
author_list = []
infor_list = []

for i in range(1, 100):
    url = f'https://quotes.toscrape.com/page/{i}/'
    quote = rq.get(url)
    quote_html = BeautifulSoup(quote.content, 'html.parser')

    quote_text = quote_html.select('div.quote > span.text')
    quote_text_list = [i.text for i in quote_text]

    quote_author = quote_html.select('div.quote > span > small.author')
    quote_author_list = [i.text for i in quote_author]

    quote_link = quote_html.select('div.quote > span > a')
    quote_link_list = ['https://quotes.toscrape.com' + i['href'] for i in quote_link]

    if len(quote_text_list) > 0:
        text_list.extend(quote_text_list)
        author_list.extend(quote_author_list)
        infor_list.extend(quote_link_list)
        time.sleep(1)
    else:
        break

import pandas as pd
pd.DataFrame({'text': text_list, 'author': author_list, 'infor': infor_list})

,text,author,infor
0,“The world as we have created it is a process ...,Albert Einstein,https://quotes.toscrape.com/author/Albert-Eins...
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,https://quotes.toscrape.com/author/J-K-Rowling
2,“There are only two ways to live your life. On...,Albert Einstein,https://quotes.toscrape.com/author/Albert-Eins...
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,https://quotes.toscrape.com/author/Jane-Austen
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,https://quotes.toscrape.com/author/Marilyn-Monroe
...,...,...,...
95,“You never really understand a person until yo...,Harper Lee,https://quotes.toscrape.com/author/Harper-Lee
96,“You have to write the book that wants to be w...,Madeleine L'Engle,https://quotes.toscrape.com/author/Madeleine-L...
97,“Never tell the truth to people who are not wo...,Mark Twain,https://quotes.toscrape.com/author/Mark-Twain
98,"“A person's a person, no matter how small.”",Dr. Seuss,https://quotes.toscrape.com/author/Dr-Seuss
99,“... a mind needs books as a sword needs a whe...,George R.R. Martin,https://quotes.toscrape.com/author/George-R-R-...

In [15]:
# 금융속보 크롤링
# 네이버금융 실시간속보: https://finance.naver.com/news/news_list.naver?mode=LSS2D&section_id=101&section_id2=258

import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/news/news_list.naver?mode=LSS2D&section_id=101&section_id2=258'
data = rq.get(url)
html = BeautifulSoup(data.content, 'html.parser')
html_select = html.select('dl > dd.articleSubject > a')

[i['title'] for i in html_select]

['다올證 "아프리카TV, 급등에도 밸류에이션 매력 높아"',
 'BGF리테일, 주가 역대급 저평가…저점 매수 전략 유효 -한화',
 '한화증권, BFG리테일 목표가 하향..."객수 턴어라운드 필요"',
 'PI첨단소재, 업황 바닥에 회복 속도 더뎌…목표가↓-한국',
 '美긴축 종료 아직? 뉴욕증시 우수수 하락 [월가월부]',
 '뉴욕증시, 인플레이션 심려에 하락 마감…애플 3.58%·테슬라 1.78↓',
 '"항공사, 고유가 뚫고 3Q 사상 최대 영업익 달성…최선호주는 대한항공"',
 '“오늘 韓 증시 하락 출발”…中 공무원 아이폰 금지령 타격',
 '고유가 공포 엄습…투자처 잃은 대기성자금 급증[뉴스새벽배송]',
 '"코웨이, 비우호적 시장 수급에 목표가 ↓"-KB',
 '국내 증권업, 느린 회복 국면…"고배당 주는 종목 노려야"',
 '증권업 느린 회복 이어진다, 고배당 위주의 접근 유효-이베스트',
 '총선 다가오자 한동훈 테마주, 큰 폭 등락…기관·외인 매수세',
 '필옵틱스, 연말 시가배당률 15% 이상…내년 디스플레이 투자 수혜도 기대-NH',
 '"립스틱 효과 짙어지는 中…유커 수혜는 올리브영"',
 'LG화학·포스코퓨처엠·에코프로비엠이 고민하는 이유',
 '올해 세계에서 가장 많이 오른 주식은 한국의 ‘0000’ 919%↑',
 '기름에 미끄러진 코스피…"고유가 변수에 주목할 테마는"']

In [1]:
# 표 크롤링
# 국가별 GDP: https://en.wikipedia.org/wiki/List_of_countries_by_stock_market_capitalization

import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_countries_by_stock_market_capitalization'
tbl = pd.read_html(url)

tbl[0].head()

,Country,Total market cap (in mil. US$)[2],Total market cap (% of GDP)[3],Number of domestic companies listed[4],Year
0,United States,44719661,194.5,4266,2020
1,China,13214311,83.0,4154,2020
2,Japan,6718220,122.2,3754,2020
3,Hong Kong,6130420,1768.8,2353,2020
4,India,"3,612,985[5]",103.0,5270,2023

In [7]:
# 오늘의 공시 불러오기
# https://kind.krx.co.kr/disclosure/todaydisclosure.do?method=searchTodayDisclosureMain&marketType=0
# 공시 조회: https://kind.krx.co.kr/disclosure/todaydisclosure.do

import requests as rq
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://kind.krx.co.kr/disclosure/todaydisclosure.do'
payload = {
    'method': 'searchTodayDisclosureSub',
    'currentPageSize': '15',
    'pageIndex': '1',
    'orderMode': '0',
    'orderStat': 'D',
    'forward': 'todaydisclosure_sub',
    'chose': 'S',
    'todayFlag': 'Y',
    'selDate': '2023-09-07'
}

data = rq.post(url, data=payload)
html = BeautifulSoup(data.content, 'html.parser')

html_unicode = html.prettify()
tbl = pd.read_html(html.prettify())

tbl[0].head()

  Unnamed: 0 Unnamed: 1         Unnamed: 2 Unnamed: 3  Unnamed: 4
0      08:06       현대로템              투자설명서       현대로템  공시차트  주가차트
1      07:30        코스온  주식등의대량보유상황보고서(일반)        이동건  공시차트  주가차트
2      07:30       아퓨어스  주식등의대량보유상황보고서(일반)     메디제네틱스  공시차트  주가차트