In [1]:
# 각 종목의 고유번호 수집
import keyring
import requests as rq
from io import BytesIO
import zipfile

dart_api_key = '7740fbda3842a0429d951409f5270538c41496ae'
dart_user_id = 'korman21@gmail.com'

# api_key = keyring.get_password(dart_api_key, dart_user_id)
codezip_url = f'''https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key={dart_api_key}'''
codezip_data = rq.get(codezip_url)
codezip_data.headers

{'Cache-Control': 'no-cache, no-store', 'Connection': 'keep-alive', 'Set-Cookie': 'WMONID=QuGKSxlDIwA; Expires=Thu, 12-Sep-2024 10:17:24 GMT; Path=/', 'Pragma': 'no-cache', 'Expires': '0', 'Content-Transfer-Encoding': 'binary', 'Content-Disposition': ': attachment; filename=CORPCODE.zip', 'Date': 'Wed, 13 Sep 2023 01:17:24 GMT', 'Content-Type': 'application/x-msdownload;charset=UTF-8', 'Content-Length': '1739120'}

In [2]:
codezip_data.headers['Content-Disposition']

': attachment; filename=CORPCODE.zip'

In [3]:
codezip_file = zipfile.ZipFile(BytesIO(codezip_data.content))
codezip_file.namelist()

['CORPCODE.xml']

In [5]:
import xmltodict
import json
import pandas as pd

code_data = codezip_file.read('CORPCODE.xml').decode('utf-8')
data_odict = xmltodict.parse(code_data)
data_dict = json.loads(json.dumps(data_odict))
data = data_dict.get('result').get('list')
corp_list = pd.DataFrame(data)

corp_list.head()

  corp_code          corp_name stock_code modify_date
0  00434003                 다코       None    20170630
1  00434456               일산약품       None    20170630
2  00430964              굿앤엘에스       None    20170630
3  00432403               한라판지       None    20170630
4  00388953  크레디피아제이십오차유동화전문회사       None    20170630

In [8]:
import pymysql
from sqlalchemy import create_engine

# Stock Code가 None인 것 제거
corp_list = corp_list[~corp_list.stock_code.isin([None])].reset_index(drop=True)
# corp_list.head()

engine = create_engine('mysql+pymysql://root:0315@127.0.0.1:3306/stock_db')
corp_list.to_sql(name='dart_code', con=engine, index=True, if_exists='replace')

3631

In [10]:
# 모든 종목의 공시정보 조회
from datetime import date
from dateutil.relativedelta import relativedelta

fr = (date.today() + relativedelta(days=-7)).strftime('%Y%m%d')
to = (date.today()).strftime('%Y%m%d')

notice_url = f'''https://opendart.fss.or.kr/api/list.json?crtfc_key={dart_api_key}&bgn_de={fr}&end_de={to}&corp_cls=Y&page_no=1&page_count=100'''

notice_data = rq.get(notice_url)
notice_data_df = notice_data.json().get('list')
notice_data_df = pd.DataFrame(notice_data_df)

notice_data_df.tail()

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
95,00435312,하이스틸,071090,Y,최대주주등소유주식변동신고서,20230912800343,하이스틸,20230912,유
96,00120872,만호제강,001080,Y,[기재정정]의결권대리행사권유참고서류,20230912000283,엠케이에셋,20230912,
97,00125576,체시스,033250,Y,주주총회소집공고,20230912000281,체시스,20230912,
98,00113359,교보증권,030610,Y,투자설명서(일괄신고),20230912000275,교보증권,20230912,
99,00117300,TCC스틸,002710,Y,임원ㆍ주요주주특정증권등소유상황보고서,20230912000274,조석희,20230912,

In [11]:
# 공시 상세정보
rcept_no = '20230912800343'
notice_dart_url = f'http://dart.fss.or.kr/dsaf001/main.do?rcpNo={rcept_no}'

In [12]:
# 장단기 금리차를 통해 경기침체를 확인
import pandas_datareader as web
import pandas as pd

t10y2y = web.DataReader('T10Y2Y', 'fred', start='1990-01-01')
t10y3m = web.DataReader('T10Y3M', 'fred', start='1990-01-01')

type(t10y2y)

pandas.core.frame.DataFrame

In [13]:
t10y2y.head()

            T10Y2Y
DATE
1990-01-01     NaN
1990-01-02    0.07
1990-01-03    0.05
1990-01-04    0.06
1990-01-05    0.09

In [14]:
rate_diff = pd.concat([t10y2y, t10y3m], axis=1)
rate_diff.head()

            T10Y2Y  T10Y3M
DATE
1990-01-01     NaN     NaN
1990-01-02    0.07    0.11
1990-01-03    0.05    0.10
1990-01-04    0.06    0.14
1990-01-05    0.09    0.20

In [15]:
rate_diff.columns = ['10Y-2Y', '10Y-3M']
rate_diff.tail()

            10Y-2Y  10Y-3M
DATE
2023-09-06   -0.71   -1.25
2023-09-07   -0.67   -1.26
2023-09-08   -0.72   -1.29
2023-09-11   -0.68   -1.26
2023-09-12   -0.71   -1.29

In [20]:
import matplotlib.pyplot as plt
import numpy as np

# 주가지수 다운로드
sp = web.DataReader('^GSPC', 'yahoo', start='1990-01-01')
sp.head()

# plt.rc('axes', unicode_minus=False)

# fig, ax1 = plt.subplots(figsize=(10, 6))

# ax1.plot(t10y2y, color='black', linewidth=0.5, label='10Y-2Y')
# ax1.plot(t10y3m, color='gray', linewidth=0.5, label='10Y-3M')
# ax1.axhline(y=0, color='r', linestyle='dash')
# ax1.set_ylabel('장단기 금리차')
# ax1.legend(loc='lower right')

# plt.show()

TypeError: string indices must be integers, not 'str'